@using System.Threading.Tasks

@inject NavigationManager NavigationManager


<div class="navbar bg-base-100 shadow-sm">
    <div class="navbar-start">
        <NavLink href="/" class="btn btn-ghost text-xl">Friend Trivia</NavLink>
    </div>
    <div class="navbar-center">
        <ul class="menu menu-horizontal p-0">
            <li>
                <NavLink href="/question/daily" class="btn btn-ghost">Today's Question</NavLink>
            </li>
            <li>
                <NavLink href="/question/create" class="btn btn-ghost">Create Question</NavLink>
            </li>
        </ul>
    </div>
    <div class="navbar-end">
        <AuthorizeView>
            <Authorized>
                <div class="dropdown dropdown-end">
                    <a href="/logout">
                        <button class="btn btn-ghost">Logout</button>
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <NavLink href="/login" class="btn btn-primary">Log in</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>