@page "/question/create"

<PageTitle>Create Question - Friend Trivia</PageTitle>

@* Skeleton page for creating questions. UI elements intentionally omitted until design is decided. *@

<section>
    @* TODO: Add create-question UI here when ready. *@
</section>
