@page "/question/daily"
@attribute [Authorize]

<PageTitle>Daily Question - Friend Trivia</PageTitle>

@* Skeleton page for showing the daily question. UI elements intentionally omitted until design is decided. *@

<section>
    @* TODO: Add daily-question UI here when ready. *@
</section>